:root {
    --primary-color: rgba(181,211,237,.25);
    --secondary-color: rgba(181,211,237,.5);
    --primary-font-color: #000000;
    --secondary-font-color: #c94949;
    --primary-border-color: #000000;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--primary-color);
}

header {
    background-image:url("../images/banner-background.jpg");
    background-size: cover;
    display: flex;
    position: sticky;
    padding: 15px 15px 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    top: 0;
}

header h1 {
    border: 5px double var(--primary-border-color);
    font-size: 48px;
}

header a {
    color: var(--primary-font-color);
    text-decoration: none;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li {
    padding: 0px 25px;
    font-size: 24px;
}

section div h2 {
    width: 75%;
    border-bottom: double;
    padding-bottom: 10px;
    margin: 20px auto;
    text-align: center;
    justify-content: center;
}

.intro img {
    margin: 10px;
    border-radius: 15px;
    width: 25%;
    align-items: flex-start;
}

.flex-row {
    width: 100%;
}

.content-wrap {
    background-color: var(--secondary-color);
    margin: 5px 25px;
    padding: 25px 25px;
    border-radius: 25px;
    font-size: 18px;
    display: flex;
    align-items: flex-start;
}

.examples .content-wrap {
    flex-wrap: wrap;
    justify-content: space-around;
    /* align-items: center; */
    padding: 25px;
}

.project img {
    width: 100%;
    border-radius: 15px;
}

.project:first-child {
    text-align: center;
    width: 95%;
}

.project:not(:first-child) {
    width: 45%;
}
